$main-family: 'Open Sans', sans-serif;
$primary-color: #333;
$light-color: #fff;
$link-color: #ff4f00;
$video-content-bg: url('../img/bg/lines.gif');
$video-shadow-top: url('../img/shadow/video_top.png');
$video-shadow-bottom: url('../img/shadow/video_bottom.png');


body {
  font: 14px $main-family;
  color: $primary-color;
}

a {
  color: $link-color;
}

/* HEADER */
header {
  height: 80px;
  position: relative;

  nav {
    display: block;
    width: 1000px;
    height: 80px;
    margin: auto;
    overflow: hidden;

    ul {
      float: left;
      width: 400px;
      padding: 0;
      list-style: none;

      li {
        a {
          display: block;
          float: left;
          height: 80px;
          padding: 0 20px;
          font: 700 15px/80px $main-family;
          color: $light-color;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      &.left {
        li {
          float: right;
        }
      }
      &.right {
        li {
          float: left;
        }
      }
    }
    a.logo {
      display: block;
      float: left;
      width: 200px;
      height: 80px;
      text-align: center;
      text-decoration: none;
      font: 700 15px/80px $main-family;
      color: $link-color;
    }
  }
}

/* HOME */
#home {
  overflow: hidden;
  margin: 0 0 -80px;

  video {
    display: block;
    width: 100%;
  }
  .content {
    display: block;
    width: 100%;
    height: 100%;
    background: $video-content-bg;
    position: absolute;
    left: 0;
    top: 0;

    .shadow {
      display: block;
      width: 100%;
      height: 450px;
      position: absolute;
      left: 0;

      &.top {
        background: $video-shadow-top;
        top: 0;
      }
      &.bottom {
        background: $video-shadow-bottom;
        bottom: 0;
      }
    }
  }
}

/* TIMELINE */
#timeline {
  padding: 50px 0 100px;
  background: #f0f2f7;

  h2 {
    text-align: center;
  }

  .timeline {
    .item {
      h3 {
        color: #2c3e50;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
      }
      h4 {
        color: #2c3e50;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;
        bottom: auto;
        background-color: #272425;
      }
    }

    .left {
      text-align: right;

      .item {
        &:before {
          right: -2px;
        }
      }
    }
    .right {
      text-align: left;

      .item {
        &:before {
          left: -2px;
        }
      }
    }
  }
}